body {
    color: #333;
    background-color: #c8d8e3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

* {
    border-radius: 6%;
}

.card {
    background-color: #fff;
    padding: 20px;
    width: 300px;
    margin: 100px 200px;
}

h1 {
    color: #1b264f;
    font-size: 20px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

p {
    font-size: 16px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

img {
    width: 290px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: #3e52a3;
}